.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 200px;
}

.input-box {
  font-size: 20px;
}

.row {
  display: flex;
}

.title{
  font-size: 20px;
}

.column {
  flex-direction: column;
}

.primary-btn {
  background-color: #1891ff;
  color: #fff;
  font-size: 20px;
  border: none;
}

.header{
  border-bottom: 1px solid grey;
  margin-bottom: 5px;
  border-left: 1px solid grey;
}

.cell {
  min-width: 50px;
  border-right: 1px solid gray;
  padding: 2px;
}